/* nav bar css */

#nav-bar {
  position: fixed;
  height: 94px;
  width: 100%;
  background-color: #4ECCFF;
  padding: 0.3em 1em;
  border: 2px groove orange;
  display: flex;
  justify-content: space-between;
 }

 #nav-bar .logo {
  height: 80px;
  width: 80px;
 }

 #nav-bar .header {
  line-height: 200%;
  color: #e8fdff;
  padding-top: 5px;
  font-size: xx-large;
 }

 #compose {
  margin: 10px 1px 0 1px;
  height: 60px;
  width: 100px;
  background-color: orange;
  border-radius: 10px;
  color: green;
  font-size: large;
 }

 #compose:hover {
  background-color: white;
 }

 #nav-bar i {
  display: block;
 }