/* tweet composer and new tweets css */


.new-tweet {
  padding: 0 10px 0 10px;
  background-color: #E8E1E2;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 0 2em;
  height: 210px;
  flex-grow: 1;
}

.submit {
  margin-top: 5px;
  border: 1px solid black;
  border-radius: 2px;
}

h2 {
  border-bottom: 1px solid black;
  text-align: left;
  margin-top: 10px;
  color: green;
}

textarea {
  padding: 5px;
  margin: -5px auto 5px;
  display: block;
  width: 100%;
  height: 80px;
  border-radius: 4px;
}

input {
  margin-top: 2px;
  margin-left: 2px;
  background-color: #4ECCFF;
  border-radius: 4px;
  color: green;
}

.counter {
  margin-top: 10px;
  margin-right: 2px;
  float: right;
}

.red {
  color: red;
}

#all-tweets {
  background-color: white;
  margin: 2em;
}

article {
  height: 180px;
  border: 1px solid black;
  border-radius: 10px;
}

article header {
  background-color: #eee;
  padding: 4px;
  border-radius: 10px 10px 0 0;
  height: 60px;
}

article header img {
  float: left;
  border-radius: 10px;
}

article header h3 {
  margin: 0 6px;
  display: inline;
  color: green;
}

article header span {
  float: right;
  margin: 10px 5px 10px 0;
}

article div {
  height: 80px;
  padding: 5px;
}

article footer {
  border-top: 1px solid grey;
  height: 10px;
}

article footer span {
  padding: 10px 0 0 10px;
  float: left;
}

/*
article footer button {
  float: left;
  margin: 5px 0 0 40px;
  border-radius: 6px;
  color: orange;
}

#counter {
  float: left;
}
*/

article footer div {
  display: inline;
  position: relative;
  float: right;
  margin: 5px;
}

article footer div a {
  color: transparent;
}


article footer div a:hover {
  color: green;
}

